1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1="This is a test of the emergency text system"
with open('test.txt','w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [2]:
#both are same
with open('test.txt','r') as file:
    test2=file.read()
print(test1==test2)

True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
with open('books.csv','w') as file:
    file.write("""title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992""")

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3
db_conn=sqlite3.connect("books.db")
c=db_conn.cursor()
c.execute('drop table books')
c.execute("create table books(title varchar,author varchar,year numbers)")

In [6]:
c.execute("select * from books")

5. Read books.csv and insert its data into the book table.

In [7]:
with open('books.csv','r') as file:
    for i in file.readlines():
        if i.split(",")[0]!='title':
            c.execute("insert into books values(?,?,?)",(i.split(",")[0],i.split(",")[1],i.split(",")[2]))

In [8]:
c.execute("select * from books")

In [9]:
for i in c.fetchall():
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

6. Select and print the title column from the book table in alphabetical order.

In [10]:
c.execute('select title from books order by title asc')
c.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [11]:
c.execute('select * from books order by year asc')
c.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [12]:
import sqlalchemy
db_conn = sqlalchemy.create_engine('sqlite:///books.db')