# Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(int_x):
    if type(int_x)!=int:
        return "Not a number"
    list_x=list(str(int_x))
    list_y=list_x[::-1]
    return list_x==list_y

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

# Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

In [7]:
def multiply_nums(str_x):
    if type(str_x)!=str:
        return "Not a valid string"
    str_y=str_x.split(", ")
    ans=1
    for i in range(len(str_y)):
        ans=ans*int(str_y[i])
    return ans

In [8]:
multiply_nums("2, 3")

6

In [9]:
multiply_nums("1, 2, 3, 4")

24

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("10, -2")

-20

# Question 3
Create a function that squares every digit of a number.

In [14]:
def square_digits(int_x):
    list_x=list(str(int_x))
    ans=""
    for i in range(len(list_x)):
        temp=int(list_x[i])**2
        ans=ans+str(temp)
    return int(ans)

In [15]:
square_digits(9119)

811181

In [16]:
square_digits(2483)

416649

In [17]:
square_digits(3212)

9414

# Question 4
Create a function that sorts a list and removes all duplicate items from it

In [22]:
def setify(list_x):
    if type(list_x)!=list:
        return "Not a valid"
    if len(list_x)==0:
        return list_x
    list_x.sort()
    set_x=set(list_x)
    return set_x

In [23]:
setify([1, 3, 3, 5, 5])

{1, 3, 5}

In [24]:
setify([3, 3, 3, 2, 1])

{1, 2, 3}

In [25]:
setify([4, 4, 4, 4])

{4}

In [26]:
setify([5, 7, 8, 9, 10, 15])

{5, 7, 8, 9, 10, 15}

# Question 5
Create a function that returns the mean of all digits.

In [34]:
def mean(int_x):
    if type(int_x)!=int:
        return "Not a valid input"
    list_x=list(str(int_x))
    sum_x=0
    for i in range(len(list_x)):
        sum_x=sum_x+int(list_x[i])
    return int(sum_x/len(list_x))

In [35]:
mean(42)

3

In [36]:
mean(12345)

3

In [37]:
mean(666)

6